/*
Порядок свойст: 

Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное
*/


/*Общие стили*/

html,
body {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic'); /*Как лучше подключать шрифты(css или html)?*/
    font-weight: bold;
    
    margin: 0;
    
    background-color: #849d8f;
}

input[name="slider-toggle"] {
    display: none;
}

#rbtn-1:checked ~ .site-wrapper .content-wrapper {
/*    background-color: #849d8f;*/
    background: #849d8f url("../img/ice-1.png") no-repeat top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

#rbtn-2:checked ~ .site-wrapper .content-wrapper {
    background-color: #8996a6;
    background: #8996a6 url("../img/ice-2.png") no-repeat top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

#rbtn-3:checked ~ .site-wrapper .content-wrapper {
    background-color: #9d8b84;
    background: #9d8b84 url("../img/ice-3.png") no-repeat top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

#rbtn-1:checked ~ .site-wrapper #slide-1,
#rbtn-2:checked ~ .site-wrapper #slide-2,
#rbtn-3:checked ~ .site-wrapper #slide-3 {
    display: block;
}

/*Стили контента слайдера.Н*/

.page-header-slider {
    position: relative;
    
    margin-top: 285px;
}

.slider-controls {
    position: absolute;
    left: 0;
    bottom: 15px;
}

.slider-controls label {
    display: inline-block;
    
    width: 17px;
    height: 17px;
    border: 3px solid #ffffff;
    
    border-radius: 50%;
}

#rbtn-1:checked ~ .site-wrapper label[for="rbtn-1"],
#rbtn-2:checked ~ .site-wrapper label[for="rbtn-2"],
#rbtn-3:checked ~ .site-wrapper label[for="rbtn-3"] {
    background-color: #ffffff;
}

label[for="rbtn-1"]:hover,
label[for="rbtn-2"]:hover,
label[for="rbtn-3"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


#slide-1,
#slide-2,
#slide-3 {
    display: none;
    
    text-align: center;
}

.slide-title {
    display: block;
    
    font-size: 60px;
    line-height: 60px;
}

.slide-title + .btn {
    padding: 10px 40px;
    margin-top: 40px;
    
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    
    border-radius: 100px;
}

.slider-controls {
    position: absolute;
}

/*Стили контента слайдера.К*/

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

/*Общие стили.Хедер*/

.hidden {
    display: none;
}

.page-header {
    color: #ffffff;
    
    padding-top: 10px; /*Чтобы избежать выпадания*/
}

.page-header-top {
    display: flex;
    
/*    outline: 2px dashed black;*/
}

.logo {
    width: 150px;
    margin-right: 10px;
    
/*    outline: 2px dashed red;*/
}

.page-header-menu {
    margin-top: 10px;
}

/*.page-header-menu .menu*/
/*.page-header-menu > ul*/
.page-header-menu .menu {
    position: relative;
    
    display: flex;
    justify-content: flex-start;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
    
/*    outline: 1px dashed black;*/
}

/*.page-header-menu > ul > li > a*/
.header-btn-1 {
    display: inline-block; /*Причина: Чтобы избавится от выпадания. Вопрос: Нужно ли сбрасывать пробелы в родителе?*/
    padding: 10px 15px;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
/*    outline: 3px dashed green;*/
}

.header-btn-1:hover {
    color: #000000;
    text-decoration: none;
    
    background-color: #ffffff;
    border-radius: 50px / 50px;
}

.header-btn-1:active {
    color: #000000;
    text-decoration: none;
    
    background-color: #ffffff;
    border-radius: 50px / 50px;
    box-shadow: inset 0 3px 3px 0 #696969;
}

/*.page-header-menu > ul > li > .actual*/
.menu .actual {
    color: #ffffff;
    text-decoration: none;
    
    background-color: #d07058;
    border-radius: 50px / 50px;
}

.sub-menu {
    position: absolute;
    
    padding: 0;
    margin: 0;
    margin-top: 5px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    
    opacity: 0;
    visibility: hidden;
    list-style: none;
    
    transition: all 0.3s ease-in-out;
}

.sub-menu a {
    display: block;
    
    padding: 10px 15px;
    
    color: #000000;
    
    text-decoration: none;
}

.sub-menu li:nth-of-type(1) {
    font-weight: bold;
}

.sub-menu li:nth-of-type(1) {
    margin-bottom: 1px;
    box-shadow: 0 7px 0 -6px #d1d0ce; 
}

.sub-menu-tuggle:hover .sub-menu {
/*    display: block;*/
    
    opacity: 1;
    visibility: visible;
    
}

/*Стили состояний выпадашки.Начало*/

.sub-menu a:hover {
    
    color: #000000;
    
    background-color: #fbded7;
}

.sub-menu a:active {
    color: #000000;
    
    background-color: #f6b5a5;
}

.sub-menu .actual-sub {
    color: #ffffff;
    
    background-color: #d07058;
}

/*Стили состояний выпадашки.Конец*/

/*Стили состояния пунктов меню.Конец*/

.user-block {
    display: flex;
/*    flex-wrap: wrap;*/
    flex-direction: column;
/*    align-content: flex-start;*/
/*    justify-content: flex-end;*/
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    
    margin-left: auto;
    margin-top: 10px;
    width: 265px;
    
/*    outline: 2px dashed red;*/
}

.user-block-controls {
    display: flex;
    justify-content: space-between;
    width: 265px;
}

.header-btn-2 {
    position: relative;
    
    padding: 11px 15px; /*Чтобы компенсировать разницу в line-height*/
    padding-left: 40px;
    border-width: 0;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    
    border-radius: 50px / 50px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-btn {
    padding: 11px 20px;
    font-size: 0;
}

.header-btn-2::before {
    position: absolute;
    left: 15px;
    top: 9px;
    
    content: '';
    
    width: 21px;
    height: 20px;
    
/*    outline: 1px dashed black;*/
    background-image: url("../img/sprytes/spritesheet-3.png");
}

/*
.search-btn::before {
    width: 200px;
    height: 200px;
}
*/

.search-btn::before {
    left: 12px;
    
    background-position: 0px -376px;
}

.login-btn::before {
    background-position: 0px -319px;
}

.basket-btn::before {
    background-position: -0px 0px;
}

.search-btn:hover::before {
    left: 12px;
    
    background-position: -22px -376px;
}

.login-btn:hover::before {
    background-position: 0px -348px;
}

.basket-btn:hover::before {
    background-position: 0px -30px;
}

.search,
.login,
.basket {
    position: relative;
}

.search-btn:hover,
.login-btn:hover,
.basket-btn:hover {
    position: relative;
    
    color: #000000;
    
    background-color: #ffffff;
}

.search-pop-up {
    position: absolute;
    right: 0;
    z-index: 20;
    
    box-sizing: border-box;
    width: 340px;
    padding: 20px;
    margin-top: 5px;
    
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.3s ease-in-out;
}

.login-pop-up {
    position: absolute;
    right: 0;
    z-index: 20;
    
    box-sizing: border-box;
    width: 280px;
    height: 215px;
    padding: 20px;
    margin-top: 5px;
    
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.3s ease-in-out;
}

.login-pop-up input {
    margin-bottom: 20px;
}

.login-pop-up button {
    display: block;
    float: left;
}

.login-pop-up a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
}

.basket-pop-up {
    position: absolute;
    right: 0;
    z-index: 20;
    
    box-sizing: border-box;
    width: 640px;
    padding: 20px;
    margin-top: 5px;
    
    color: #000000;
    
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.3s ease-in-out;
}

/*
.basket-pop-up table {
    display: flex;
}
*/

.basket-table-preview {
    padding: 0 15px;
}

.basket-table-name {
    width: 210px;
}

.basket-table-weight {
    padding: 0 30px;
}
/*
.basket-table {
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid #cacac7;
}

.basket-tr {
    display: flex;
    align-items: center;

    width: 510px;
    margin-bottom: 20px;
}

.basket-tr .cross-it-out {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;

    background-color: transparent;
}

.basket-tr .cross-it-out::before,
.basket-tr .cross-it-out::after {
    content: "";

    position: absolute;
    left: 0;
    top: 4px;

    width: 15px;
    height: 2px;

    background-color: #000000;
    cursor: pointer;
}

.basket-tr .cross-it-out::before {
    transform: rotate(45deg);
}

.basket-tr .cross-it-out::after {
    transform: rotate(-45deg);
}

.basket-tr .preview {
    margin: 0 15px;
}

.basket-tr .name {
    display: inline-block;
    max-width: 240px;
    border: none;
    margin-right: auto;
}

.basket-tr .weight {
    margin-left: auto;
    margin-right: 30px;
}

.basket-tr .disabled {
    color: #a6a6a5;
}

.basket-tr  .basket-price {
    margin-right: 20px;
}
*/

/*
.basket-pop-up table {
    display: flex;
}
*/

.basket-pop-up {
    display: flex;
    flex-direction: column;
/*    align-items: flex-end;*/

    padding: 20px 15px;
}

.basket-pop-up > span {
    margin: 10px 0;
    
    font-weight: bold;
}

.basket-pop-up a:not(.btn):hover {
    color: #ffbc9e;
}

.search:hover .search-pop-up,
.login:hover .login-pop-up,
.basket:hover .basket-pop-up {
    visibility: visible;
    opacity: 1;
}

.user-block-contacts {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    font-weight: bold;
}

.user-block-contacts span {
    position: absolute;
    bottom: -15px;
    
    font-size: 22px;
    line-height: 24px;
}

/*Контакты В1
.user-block-contacts {
    margin-top: 18px;
    width: 175px;
    
    position: relative;
}


.user-block-contacts p {
    margin: 0;
}

.user-block-contacts span {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    
    position: absolute;
}
*/

/*Общие стили.Футер*/ 

.page-footer {
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 190px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.social-btn {
    width: 30px;
    height: 30px;
    border: 5px solid rgba(255, 255, 255, 0.7);
    
    font-size: 0;
    
    border-radius: 50%;
}

.social-btn-twitter {
    background: url("../img/sprytes/spritesheet-3.png") no-repeat -1px -489px;
    background-clip: content-box;
}
.social-btn-instagram {
    background: url("../img/sprytes/spritesheet-3.png") no-repeat -1px -447px;
    background-clip: content-box;
}
.social-btn-facebook {
    background: url("../img/sprytes/spritesheet-3.png") no-repeat -1px -405px;
    background-clip: content-box;
}
.social-btn-vk {
    background: url("../img/sprytes/spritesheet-3.png") no-repeat -1px -531px;
    background-clip: content-box;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 310px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.love {
    position: relative;
}

.love::before {
    content: "";
    left: -20px;
    top: 2px;
    
    position: absolute;
    
    width: 20px;
    height: 15px;
    
    background-image: url("../img/sprytes/spritesheet-3.png");
    background-position: 0px -296px;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.footer-copyright {
    margin-top: 20px;
    margin-bottom: 25px;
    
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p {
    margin: 0;
}

/*Сквозные элементы.Начало*/

.h2 {
    margin: 0;
    
    font-size: 35px;
    line-height: 41px;
}

.h3 {
    display: inline;
    margin: 0;
    
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.hidden-container { /*Стили оберток выпадашек*/
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.hidden-container input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    border: 1px solid #d3d3d2;
    
/*    box-shadow: 0 0 0 1px #d3d3d2;*/
    border-radius: 5px;
}

.hidden-container input:hover {
/*    box-shadow: 0 0 0 1px #c7c6c5;*/
}

/*Cтили состояния ссылок. Начало*/

.a-db /*a for dark background*/ {
    color: #ffffff;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.a-db:hover /*a for dark background*/ {
    color: #ffbc9e;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.a-lb /*a for light background*/ {
    color: #000000;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.a-lb:hover /*a for dark background*/ {
    color: #e84d37;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(232, 77, 55, 0.2);
}

/*
a {
    color: #ffffff;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover {
    color: #ffbc9e;
}

a:active {
    color: #ffbc9e;
}
*/

/*
.hidden-container a,
.holder-2 a {
    color: #000000;
}

.hidden-container a:hover,
.holder-2 a:hover {
    color: #ffbc9e;
}

.hidden-container a:active,
.holder-2 a:active {
    color: #ffbc9e;
}
*/

/*Cтили состояния ссылок. Конец*/

.btn {
    display: inline-block; /*Нужен ли фикс с удалением пробелов?*/
    padding: 10px 20px;
    
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-color: #ed5b3d;
    background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 #9e4334;
}

.btn:hover {
    /*Rак зделать дополнительную прозрачность?*/
    color: #ffffff;
}

.btn:active {
    box-shadow: inset 0 2px 2px 0 #9e4334;
    background-image: linear-gradient(0deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
}

/*Иконки товаров*/

.popular-item,
.catalog-item {
    text-align: center;
}

.popular-item img,
.catalog-item img {
    border-radius: 50%;
}

.popular-item-hidden-btn {
    position: absolute;
    
    display: flex;
    justify-content: space-around;
    
    width: 267px;
    margin-top: 10px;
    
    opacity: 0;
    visibility: hidden;
    
/*    transition: 0.2s;*/
}

.popular-item a:not(.btn),
.catalog-item a:not(.btn) {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

/*
.popular-item-hidden-btn {
    display: none;
}
*/

.popular-item:hover .popular-item-hidden-btn,
.catalog-item:hover .popular-item-hidden-btn {
    position: absolute;
    
    display: flex;
    justify-content: space-around;
    
    width: 267px;
    margin-top: 10px;
/*    margin-bottom: 20px;*/
    
    opacity: 1;
    visibility: visible;
}

.popular-item:hover,
.catalog-item:hover {
    position: relative;
    z-index: 10;
    
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popular-item:hover {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
    
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -70px;
}

.catalog-item:hover {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

/*Bконки товаров.Конец*/

/*Crвозные элементы.Конец*/

/*При задании ширины дочерним элементам с помощью flex-basis свойство не срабаывает, почему?*/

/*
.footer-social {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 190px;
    width: 190px;
    
    outline: 2px dashed red;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    
    flex-basis: 310px;
}
*/

/*
.footer-copyright {
    width: 190px;
}
*/

/*
.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 310px;
    padding: 0;
    margin: 0;
    
    list-style: none;
}
*/

/*Старая версия футера. Конец*/

/*Стили index.html*/

.holder {
    display: flex;
    justify-content: space-between;
    
    margin: 40px 0;
    
/*    outline: 2px dashed black;*/
}

.holder-1 {
    display: flex;
    justify-content: space-between;
    
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

.holder-1 .fill {
    display: flex;
    flex-direction: column;
}

.holder-1 .fill:nth-of-type(1) {
    background: #560715 url("../img/background-fruit-short-3.jpg") no-repeat;
}

.holder-1 .fill:nth-of-type(2) {
    background: #40261a url("../img/background-chocolad-short-3.jpg") no-repeat;
}

.holder-1 span {
    margin-top: 25px;
    margin-bottom: 45px;
}

.holder-1 .btn {
    align-self: flex-end;
}

.fill {
    flex-basis: 520px;
    padding: 20px;
    
    border-radius: 15px;
    
/*    outline: 2px dashed red;*/
}

.holder-2 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.holder-2 .fill {
    background-color: #ffffff;
}

.holder-2 .fill:nth-of-type(1) {
    background: #ffffff url("../img/background-ummy-short-3.jpg") no-repeat;
}

.holder-2 .fill:nth-of-type(2) {
    background-color: #f8f7f4;
/*    border: 5px solid red;*/
    border-width: 5px; 
/*    border-color: red;*/
    border-image: repeating-linear-gradient(to right bottom, transparent 5px, #fe9e90 5px, #fe9e90 10px, transparent 10px, transparent 15px, #92cdff 15px, #92cdff 20px, transparent 20px, transparent 25px);
}

.holder-2 b {
    display: block;
}

.holder-2 a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}

.holder-2 p {
    margin-bottom: 40px;
}

.form-spam {
    display: flex;
    margin-bottom: 15px;
}

.form-spam input {
    width: 370px;
    padding: 10px;
    margin-right: 10px;
    border-width: 1px;
    
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    
    border-color: #d3d3d2;
    border-radius: 5px;
}

/*
.font-black {
    color: #000000;
}
*/

.popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
    color: #ffffff;
    
/*    outline: 2px dashed black;*/
}

.popular-item {
    position: relative;
    
    width: 267px;
}

.index {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 60px;
    height: 60px;
    
    font-size: 0;
    
    background: url("../img/sprytes/spritesheet-3.png");
    background-position: 0 -572px;
    border-radius: 50%;
}

.popular-item:hover .index, 
.catalog-item:hover .index {
    top: 5px;
    left: 15px;
}

.price {
    position: absolute;
    left: 0;
    top: 200px;
    
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    
    text-shadow: 0.5px 0.866px 3px rgba(49, 50, 53, 0.5);
}

.popular-item:hover .price, 
.catalog-item:hover .price {
    top: 205px;
    left: 15px;
}

/*
Хувер фон (в разработке)
Проблема: Как разметить, чтобы фон не закрывал наполнение?
.popular-item-hidden {
    width: 267px;
    padding-top: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 80px;
    
    position: absolute;
    z-index: -1;
    
    background-color: #ffffff; 
    opacity: 0.3;
}
*/

.features {  
    padding: 30px 20px;
    
    background: #eee0c8 url("../img/background-cross-short-2.jpg") no-repeat;
    
    border-radius: 15px;
}

.features-promo {
    display: inline;
    
    font-size: 24px;
    line-height: 30px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    min-height: 180px;
    margin-top: 27px;
}

.features-item {
    position: relative;
    
    width: 480px;
    margin-left: 60px;
    
    font-size: 16px;
    line-height: 22px;
    
    font-weight: normal;
}

.features-item::before {
    position: absolute;
    left: -56px;
    top: -18px;
    
    content: "";
    
    width: 50px;
    height: 50px;
    
/*    outline: 2px dashed black;*/
    background: url("../img/sprytes/spritesheet-3.png");
}

.features-item:nth-of-type(1)::before {
    background-position: 0 -60px;
}

.features-item:nth-of-type(2)::before {
    background-position: 0 -179px;
}

.features-item:nth-of-type(3)::before {
    background-position: 0 -119px;
}

.features-item:nth-of-type(4)::before {
    background-position: 0 -235px;
}

.features-item p {
    margin: 0;
}

.location {
    position: relative;
    /*Сомнительный костыль*/
    right: 27px;
}

.contacts {
    position: absolute;
    top: 65px;
    right: -27px;/*Последствия сомнительного костыля*/
    
    width: 250px;
    padding: 25px;
    
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    
    background-color: #ffffff;
    border-radius: 15px;
}

.contacts .btn {
    box-sizing: border-box;
    width: 100%;
    
    text-align: center;
}

.modal-feedback {
    position: fixed;
    top: 0;
    top: 50%;
    left: 50%;
    z-index: 50;
    
    width: 455px;
    min-height: 425px;
    padding: 25px;
    margin-left: -257.5px;
    margin-top: -237.5px;
    
    
    background-color: #f8f7f4;
    border-radius: 10px;
}

.modal-exit {
    position: absolute;
    right: 25px;
    top: 25px;
    
    width: 25px;
    height: 22px;
    border: none;
    
    font-size: 0;
    
    background-color: transparent;
}

.modal-exit::before,
.modal-exit::after {
    content: '';
    
    position: absolute;
    right: 0;
    
    height: 3px;
    width: 25px;
    
    background-color: #000000;
}

.modal-exit::before {
    transform: rotate(45deg);
}

.modal-exit::after {
    transform: rotate(-45deg);
}

/*
.modal-exit::before {
    content: '';
    position: absolute;
    
    width: 22px;
    height: 22px;
    
    border-left: 2px solid #000000; 
    
    transform: translate(-4px, -3px) rotate(45deg);
}

.modal-exit::after {
    content: '';
    position: absolute;
    
    width: 22px;
    height: 22px;
    
    border-left: 2px solid #000000; 
    
    transform: translate(-4px, -18px) rotate(-45deg);
}
*/

/* Не видит элемент
.modal-exit::before {
    content: "";
    
    height: 20px;
    width: 20px;
    border-bottom: 2px solid #000000;
    
    background-color: #000000;
}
*/

.modal-feedback-form {
    display: flex;
    flex-direction: column;
}

.modal-feedback-form input,
.modal-feedback-form textarea {
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid #d3d3d2;
    
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    
    border-radius: 5px;
}

.modal-feedback span {
    display: block;
    
    margin-bottom: 25px;
    
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.modal-feedback-form input {
    width: 270px;
    
    margin-bottom: 20px;
}

.modal-feedback-form textarea {
    margin-bottom: 25px;
}

.modal-feedback-form .btn {
    align-self: flex-end;
}

/*Cтили catalog.html*/

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.breadcrumbs ul {
    display: flex;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.breadcrumbs li:not(:last-of-type)::after {
    content: "»";
    
    display: inline-block;
    margin: 0 5px;
}

.catalog {
    display: flex;
    flex-direction: column;
    
    color: #ffffff;
}

.catalog-controls {
    display: flex;
    flex-wrap: wrap;
    
    min-height: 130px;
    margin-top: 35px;
    margin-bottom: 40px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.catalog-controls-tuggle,
.catalog-controls button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    border-radius: 20px;
}

.catalog-controls button {
    color: #ffffff;
    
    border: 2px solid #ffffff;
}

.catalog-controls-floor {
    display: flex;
    justify-content: space-between;
    width: 860px;
}

.catalog-controls-floor:first-of-type {
    margin-bottom: 20px;
}

.catalog-controls-item span {
    padding-left: 15px;
}

.catalog-controls-tuggle {
    padding: 10px 15px;
/*    margin-right: 15px;*/
    
    background-color: rgba(255, 255, 255, 0.3);
}

.tuggle-select {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 195px;
    height: 40px;
}

.label-range input {
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
    
    cursor: text;
}

.catalog-controls-tuggle .scale {
    position: relative;
    
    width: 190px;
    height: 4px;
    margin: 5px 0;
    
    background-color: rgba(255, 255, 255, 0.7);
}

.catalog-controls-tuggle .bar {
    height: 4px;
    background-color: #ffffff;
}

.scale-tuggle {
    position: absolute;
    
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    background-color: #ffffff;
}

/*
Проблемы с кординатами
.scale-tuggle-min {
    top: 0;
}

.scale-tuggle-max {
    right: 0;
}
*/


/*
.tuggle-range {
    display: flex;
    justify-content: center;
    align-content: center;
    
    box-sizing: border-box;
    width: 215px;
    height: 40px;
}
*/

.tuggle-rbtn {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    box-sizing: border-box;
    width: 415px;
    height: 40px;
}

.tuggle-rbtn input {
    display: none;
}

.tuggle-rbtn label {
    position: relative;
    margin-left: 35px;
}

.tuggle-rbtn label::before {
    content:"";
    
    position: absolute;
    left: -30px;
    top: -1px;
    
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 4px solid transparent;
    
    box-shadow: 0 0 0 1px #ffffff;
    border-radius: 50%;
}

input[type~="radio"]:checked + label::before {
    background-color: #ffffff;
    background-clip: content-box;
}


.tuggle-cbx {
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    width: 700px;
}

/*В разработке(Пока успешно)*/
.tuggle-cbx input {
    display: none;
}

.tuggle-cbx label {
    position: relative;
    margin-left: 35px;
}

.tuggle-cbx label::before {
    content:"";
    
    position: absolute;
    left: -35px;
    top: -3px;
    
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    
    border-radius: 5px;
}

/*Оживляяем псевдо-чек-боксы. Начало*/

input[type~="checkbox"]:checked + label::after {
    content: "";
    
    position: absolute;
    left: -31.5px;
    top: 1px;
    
    width: 12px;
    height: 6px;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    
    transform: rotate(-45deg);
}

/*Оживляяем псевдо-чек-боксы. Конец*/

/*Стили состояний чек-боксов. Начало*/

/*Нет реакции
.tuggle-cbx-item:hover ~ label::before {
    border: 3px solid #ffffff;
}
*/

/*Стили состояний чек-боксов. Конец*/

.catalog-controls-floor button {
    align-self: flex-end;
    
    box-sizing: border-box;
    height: 40px;
    width: 145px;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    position: relative;
    width: 267px;
    
    margin-bottom: 40px;
    
/*
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 75px;
    
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -75px;
*/
}



/* Список товаров V1
.catalog-container {
    font-size: 0;
}

.catalog-item {
    display: inline-block;

    width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;

    vertical-align: top;
    font-size: 45px;
    line-height: 45px;
}

.catalog-item:nth-of-type(4n) {
    margin-right: 0;
}

.catalog-item:nth-of-type(n+8) {
    margin-bottom: 0;
}
*/



/*
Почему это не сработало?
.pegination {
    display: inline-block;
    
    text-align: right;
}
*/

/*
А почему это?
.pegination {
    float: right;
}

.pegination::after {
    content: '';
    clear: both;
}
*/

/*Пегинация списком
.pegination {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.pegination ul {
    display: flex;
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    outline: 1px dashed white;
}

.pegination li {
    width: 20px;
    height: 20px;
    
    text-align: center;
    
    outline: 2px dashed red;
}

.pegination a {
    outline: 2px dashed black;
}

.pegination .next, 
.pegination .prev {
    position: relative;
}

.pegination .next::before {
    content: '';
    
    position: absolute;
    
    width: 8px;
    height: 8px;
    
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    
    transform: translate(-7px, 3px) rotate(225deg);
}

.pegination .prev::before {
    content: '';
    
    position: absolute;
    
    width: 8px;
    height: 8px;
    
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    
    transform: translate(-4px, 3px) rotate(45deg);
}
*/


/*Пегинация без списка*/
.pegination {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 190px;
    margin-top: 85px;
    margin-bottom: 35px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.pegination a {
    display: inline-block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    padding: 4px 8px;
    
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: #ffffff;
}

.pegination .next, 
.pegination .prev {
    position: relative;
}

.pegination .next::before {
    content: '';
    
    position: absolute;
    
    width: 8px;
    height: 8px;
    
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    
    transform: translate(-7px, 3px) rotate(225deg);
}

.pegination .prev::before {
    content: '';
    
    position: absolute;
    
    width: 8px;
    height: 8px;
    
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    
    transform: translate(-4px, 3px) rotate(45deg);
}

.pegination a:hover {
    color: #ffffff;
    
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.peginaion a:active {
    color: #000000;
    
    background-color: #ffffff;
    border-radius: 50%;
}

.pegination .disabled {
    opacity: 0.3;
}

.pegination .active {
    color: #000000;
    
    background-color: #ffffff;
    border-radius: 50%;
}

/*
1. Исользовать дополнительные стили для сеток всегда.
2. Не использовать общие стили.
3. Создать иерархию классов.
*/

/*
Заметки:
1. Строка 190: Разобрать отличия align-content и align-item.
5. 1013: Не могу отцентровать номер страницы.
6. 975: Нет реакции на хувер
10. 460: Сделать обводку тенями, чтобы не влиять на размеры. Неадекватное отображение.
11. 1336: Не работает активный псевдокласс пегинатора.
12. 750: Перепройти курс по рамкам-изображениям
14. 990: Cетка позиционированием локайшн
15. 1200: Как стилизовать форму-выпадашку?
16. 1000: Текст ареа не наследует шрифт
17. Состояния сошилов
18. Рамка подписки
19. Выпадашка корзины
20. Рендж
21. Настроить правильный опасити
22. Стили состояний
23. Не могу задать кординаты ползункам в рандж
*/
