/*
Порядок свойст: 

Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное
*/


/*Общие стили*/

html,
body {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    
    background-color: #99aea2; 
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

/*Общие стили.Хедер*/

.hidden {
    display: none;
}

.page-header {
    color: #ffffff;
    
    margin-top: 10px;
}

.page-header-slider {
    min-height: 520px;
}

.page-header-top {
    display: flex;
    
/*    outline: 2px dashed black;*/
}

.logo {
    width: 150px;
    margin-right: 10px;
    
/*    outline: 2px dashed red;*/
}

.page-header-menu {
    font-size: 16px;
    line-height: 18px;
    
    width: 360px;
    margin-top: 15px;
    
    
/*    outline: 2px dashed red;*/
}

.page-header-menu ul {
    font-size: 0;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.page-header-menu li {
    font-size: 16px;
    line-height: 18px;
    
    display: inline-block;
    
}

.page-header-menu a {
    padding: 14px 7px;
}

.user-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    
    margin-left: auto;
    padding-top: 15px;
    width: 265px;
    
/*    outline: 2px dashed red;*/
}

.user-block-controls {
    font-size: 0;
}

.header-btn {
    display: inline-block;
    
    padding: 8px 0;
    margin-right: 10px;
}

.header-btn:last-of-type {
    margin-right: 0;
}

.user-block-contacts {
    margin-top: 18px;
    width: 175px;
    
    position: relative;
}


.user-block-contacts p {
    margin: 0;
}

.user-block-contacts span {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    
    position: absolute;
}

/*Общие стили.Футер*/ 

.page-footer {
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 190px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 310px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.footer-copyright {
    margin-top: 20px;
    margin-bottom: 25px;
}

.footer-copyright p {
    margin: 0;
}

/*Старая версия футера.Начало*/

.page-footer {
    display: flex;
    
/*    outline: 2px dashed black;*/
}

/*Сквозные элементы*/

h2 {
    margin: 0; /*Можно ли так делать?*/
    
    font-size: 35px;
    line-height: 41px;
}

h3 {
    margin: 0; /*Можно ли так делать?*/
    
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
}

.btn {
    display: inline-block; /*Нужен ли фикс с удалением пробелов?*/
    padding: 10px 20px;
    
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    
    background-color: #ed5b3d;
    border: none;
    text-decoration: none;
}

/*При задании ширины дочерним элементам с помощью flex-basis свойство не срабаывает, почему?*/

/*
.footer-social {
    display: flex;
    justify-content: space-between;
    
    flex-basis: 190px;
    width: 190px;
    
    outline: 2px dashed red;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    
    flex-basis: 310px;
}
*/

/*
.footer-copyright {
    width: 190px;
}
*/

/*
.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 310px;
    padding: 0;
    margin: 0;
    
    list-style: none;
}
*/

/*Старая версия футера. Конец*/

/*Стили index.html*/

.holder {
    display: flex;
    justify-content: space-between;
    
    margin: 40px 0;
    
/*    outline: 2px dashed black;*/
}

.holder-1 {
    display: flex;
    justify-content: space-between;
    
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

.holder-1 .fill {
    display: flex;
    flex-direction: column;
}

.holder-1 .fill span {
    margin-top: 25px;
    margin-bottom: 50px;
}

.holder-1 .fill .btn {
    align-self: flex-end;
}

.fill {
    flex-basis: 520px;
    padding: 20px;
    
/*    outline: 2px dashed red;*/
}

.holder-2 {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.holder-2 .fill {
    background-color: #ffffff;
}

.holder-2 b {
    display: block;
}

.holder-2 a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}

/*
.font-black {
    color: #000000;
}
*/

.popular {
    display: flex;
    justify-content: space-between;
    
    color: #ffffff;
    
/*    outline: 2px dashed black;*/
}

.popular-item {
    width: 267px;
    
    position: relative;
    
/*    outline: 2px dashed red;*/
}

/*
Хувер фон (в разработке)
Проблема: Как разметить, чтобы фон не закрывал наполнение?
.popular-item-hidden {
    width: 267px;
    padding-top: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 80px;
    
    position: absolute;
    z-index: -1;
    
    background-color: #ffffff; 
    opacity: 0.3;
}
*/

.popular-item-hidden-btn {
    display: none;
}

.popular-item:hover .popular-item-hidden-btn {
    display: flex;
    justify-content: space-around;
    
    width: 267px;
    
    position: absolute;
}

.features {  
    padding: 30px 20px;
}

.features-promo {
    display: inline;
    
    font-size: 24px;
    line-height: 30px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    min-height: 180px;
    margin-top: 27px;
}

.features-item {
    width: 480px;
    padding-left: 60px;
    
    font-size: 16px;
    line-height: 22px;
    
    font-weight: normal;
}

.features-item p {
    margin: 0;
}

.location {
    position: relative;
    /*Сомнительный костыль*/
    right: 27px;
}

.contacts {
    width: 250px;
    padding: 25px;
    
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #ffffff;
}

/*Cтили catalog.html*/

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.catalog {
    display: flex;
    flex-direction: column;
    
    color: #ffffff;
}

.catalog-controls {
    display: flex;
    flex-wrap: wrap;
    
    min-height: 130px;
    margin-top: 35px;
    margin-bottom: 40px;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.catalog-controls-tuggle,
.catalog-controls button {
    font-size: 16px;
    line-height: 18px;
}

.catalog-controls-floor {
    display: flex;
    justify-content: space-between;
    width: 860px;
}

.catalog-controls-floor:first-of-type {
    margin-bottom: 20px;
}

.catalog-controls-item span {
    padding-left: 15px;
}

.catalog-controls-tuggle {
    padding: 10px 15px;
/*    margin-right: 15px;*/
    
    background-color: rgba(255, 255, 255, 0.3);
}

.tuggle-select {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 195px;
    height: 40px;
}

.tuggle-range {
    display: flex;
    justify-content: center;
    align-content: center;
    
    box-sizing: border-box;
    width: 215px;
    height: 40px;
}

.tuggle-rbtn {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    box-sizing: border-box;
    width: 415px;
    height: 40px;
}

.tuggle-cbx {
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    width: 700px;
}

.catalog-controls-floor button {
    align-self: flex-end;
    
    box-sizing: border-box;
    height: 40px;
    width: 145px;
}

.catalog-container {
    font-size: 0;
}

.catalog-item {
    display: inline-block;

    width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;

    vertical-align: top;
    font-size: 45px;
    line-height: 45px;
}

.catalog-item:nth-of-type(4n) {
    margin-right: 0;
}

.catalog-item:nth-of-type(n+8) {
    margin-bottom: 0;
}



/*
Почему это не сработало?
.pegination {
    display: inline-block;
    
    text-align: right;
}
*/

/*
А почему это?
.pegination {
    float: right;
}

.pegination::after {
    content: '';
    clear: both;
}
*/

.pegination {
    align-self: flex-end;
    
    margin-top: 85px;
    margin-bottom: 35px;
}

/*!Исользовать дополнительные стили сегда*/


